<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/js/events.js"></script>
	<link type=text/css href="/css/events.css" rel="stylesheet">
</head>
<body>
<div th:replace="nav :: navbar"></div>
<div class="container">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>Events</h2>
				</div>
				<div class="col-sm-6" sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
					<a href="#addEventModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Event</span></a>
				</div>
			</div>
		</div>
		<div class="table">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Event</th>
			        <th>Description</th>
			        <th>Location</th>
			        <th>Date</th>
			        <th>Time</th>
					<th sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
						Actions
					</th>
					<th>Registration</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="event : ${events}">
					<td th:text="${event.name}"></td>
					<td th:text="${event.description}"></td>
					<td th:text="${event.location}"></td>
					<td th:text="${event.getDayOfWeek()} + ', ' + ${event.getMonth('long')} + ' ' + ${event.dateTime.getDayOfMonth()} + ' ' + ${event.dateTime.getYear()}"></td>
					<td th:text="${event.getTime()}"></td>
					<td sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
						<a th:href="@{/events/getEvent/(id=${event.id})}" class="edit" id="editButton" data-toggle="modal">
							<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
						</a>
						<a th:href="@{/events/deleteEvent/(id=${event.id})}" class="delete" id="deleteButton" data-toggle="modal">
							<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
						</a>
					</td>
					<td>
						<a th:href="@{/events/getEvent/(id=${event.id})}" class="btn btn-info" id="registerButton" data-toggle="modal">Register</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<!-- Add Modal HTML -->
	<div id="addEventModal" class="modal fade">
		<form th:action="@{/events/addNewEvent}" method="post">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="description" required></textarea>
						</div>
						<div class="form-group">
							<label>Location</label>
							<input type="text" class="form-control" name="location" required>
						</div>
						<div class="form-group">
							<label>Date and Time</label>
							<input type="datetime-local" class="form-control" name="dateTime" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEventModal" class="modal fade">
		<form th:action="@{/events/updateEvent}" method="put">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="idEdit" name="id"/>
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" id="nameEdit" name="name" required>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" id="descriptionEdit" name="description" required></textarea>
						</div>
						<div class="form-group">
							<label>Location</label>
							<input type="text" class="form-control" id="locationEdit" name="location" required>
						</div>
						<div class="form-group">
							<label>Date and Time</label>
							<input type="datetime-local" class="form-control" id="dateTimeEdit" name="dateTime" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEventModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Delete Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this event?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<a href="" class="btn btn-primary" id="delRef">Delete</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Event Registration Modal HTML -->
	<div id="eventRegistrationModal" class="modal fade">
		<form th:action="@{/events/registerForEvent}" method="post">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="eventId" name="eventId"/>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" id="userEmail" name="userEmail" required>
						</div>
					</div>
					<div class="modal-footer"> 
						<button type="submit" id="signUp" class="btn btn-primary">Sign Up</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div id="eventRegSuccessModal" class="modal fade">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<div class="icon-box">
						<i class="material-icons">&#xE876;</i>
					</div>				
					<h4 class="modal-title w-100">Awesome!</h4>	
				</div>
				<div class="modal-body">
					<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div> 
</div>
</body>
</html>